
/* Styling of content on post/index.html */

.allPosts { /*change to not camelCase*/
    /**/
}

.author-date-container {
    display: flex;
    align-items: center;
}

.author {
    margin-right: 1rem;
}

.title, .author-date-container, .copy-content {
    margin-left: var(--margin-mobile);
    margin-right: var(--margin-mobile);
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    font-size: var(--font-size-mobile-h3);
}

.media {
    width: 100%;
    height: 292px;
    margin-bottom: 20px;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.copy-content {
    margin-bottom: var(--margin-between-content-mobile-tablet);
    line-height: 26px;
}