
/* Styling of content on post/index.html */

.post-content {
    /**/
}

.title, .author-date-container, .copy-content {
    margin: var(--margin-mobile);
}

.title {
    margin-top: 40px;
}

.author-date-container {
    display: flex;
}

.author, .date {
    display: flex;
}

.author {
    padding-right: 14px;
}

.date {
    padding-left: 14px;
}

.author i, .date i {
    padding-top: 15px;
    margin-right: 4px;
}

.media {
    width: 100%;
    height: 292px;
    margin-bottom: 20px;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.copy-content {
    margin-bottom: var(--margin-between-content-mobile-tablet);
}