/*
Styling of the forms on these pages:
- create.html
- edit.html
- login.html
- register.html
*/

.form-container {
    background-color: var(--container-color);
    border: 1px solid var(--color-tertiary);
    margin: var(--margin-between-content-mobile-tablet) var(--margin-mobile); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 10px;
}

.form-container form {
    box-sizing: border-box;
}

.form-container input, .form-container textarea {
    color: var(--color-tertiary);
    width: 100%;
    border: 1px solid var(--color-tertiary);
    padding: 12px 8px;
    cursor: text;
    resize: none;
    margin-bottom: 10px;
}

#form-login-register {
    margin-bottom: 440px;
}